:root{/*
--1slate-blue: #5f63d0ff;
--2blue-ncs: #2e86abff;
--3cream: #f6f5c8ff;
--4honeydew: #e3eed9ff;
--0indigo-dye: #274258ff;
--pastel1lavanda: #BCBCD6;
--pastel2rosado: #D6BCC9;
--pastel3beige: #D6D6BC;
--pastel4verdoso: #BCD6C9;
--pastel41verdoso: #d1e3da;
--pastel42verdoso: #d1e3da;
--pastellavandaoscuro: #7272a9;
*/

    --color-primary-0: #3043D1;
    
    --color-primary-1: #7884E3;
    
    --color-primary-2: #5161D9;
   
    --color-primary-3: #1127C8;
   
    --color-primary-4: #0D1D91;
    --color-claro-texto: #bec4f2;
    }
   

@keyframes cartel{
    from{
        color: #3043d1;
    }
    to{
        color: #3e50d4;
    }
    to{
        color: #4c5cd7;
    }
    to{
        color: #5a69da;
    }
    to{
        color: #7884e3;
    }
    to{
        color: #8691e6;
    }
    to{
        color: #949ee9;
    }
    to{
        color: #a2aaec;
    }
    to{
        color: #b0b7ef;
    }
    to{
        color: #bec4f2;
    }
    to{
        color: #ccd1f5;
    }
    to{
        color: #dadef8;
    }
}


*{  padding: 0;
    margin: 0;
    width: 100%;
    box-sizing: border-box;
}
body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
header{
    display: flex;
    flex-direction: column;
    margin-bottom: 2em;
}
.header-cartel{
    display: flex;
    flex-direction: row;
    width: 100%;
   }
#header-cartel-menu {
    display: flex;
    padding: 6px;
    font-size: 1.2em;
    border: none;
    text-align: center;
    height: auto;
    justify-items: stretch;
    }
#header-cartel-menu li {
    color: var(--color-primary-4);
    padding: 2px;
    list-style-type: none;
    margin: 1px;
    background-color: var(--color-claro-texto);
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.4);
}
#header-cartel-menu a {
    text-decoration: none;
}
#header-cartel-menu :hover {
    background-color: var(--pastel4verdoso);
}
#header-cartel-menu :active{
    background-color: var(--color-primary-1);
    color: black;
}
.header-tittle{
    display: flex;
    position: relative;
    text-shadow: 2px 1px black;
    box-shadow: 0px 12px 20px 0px rgba(0, 0, 0, 0.4);
    width: 100vw;
    background-color: var(--color-primary-4);
    text-align: center;
}
#header-img {
    width: 10vw;
    height: 10vw;
    border-radius: 1em;
    margin-right: 2em;
    margin-top: auto;
    margin-bottom: auto;
}
#header-h1{
    font-size: 9vw;
    animation-name: cartel;
    animation-duration: 10S;
    color: #dadef8;
    padding: 1vw;
    font-family: 'Montserrat', sans-serif;
}


main{
  display: flex;
  flex-direction: column;
  margin-top: 1vw;
  }
 
 div.img {
     border: 1px solid #ccc;
 }

 div.img:hover {
     border: 1px solid #777;
 }
 
 div.img img {
     width: 100%;
     height: auto;
     cursor: pointer;
 }
 div.desc {
     padding: 15px;
     text-align: center;
}
.responsive {
     padding: 0 6px;
     float: left;
     width: 24.99999%;
}
.modal {
     display: none;
     /* Hidden by default */
     position: fixed;
     /* Stay in place */
     z-index: 1;
     /* Sit on top */
     padding-top: 100px;
     /* Location of the box */
     left: 1em;
     top: 1em;
     width: 40%;
     /* Full width */
     height: 100%;
     /* Full height */
     overflow: auto;
     /* Enable scroll if needed */
     background-color: rgb(0, 0, 0);
     /* Fallback color */
     background-color: rgba(0, 0, 0, 0.9);
     /* Black w/ opacity */
}

 .modal-content {
     margin: auto;
     display: block;
     width: 80%;
     max-width: 700px;
 }

 #caption {
     margin: auto;
     display: block;
     width: 80%;
     max-width: 700px;
     text-align: center;
     color: #ccc;
     padding: 10px 0;
     height: 150px;
 }

 .modal-content,
 #caption {
     -webkit-animation-name: zoom;
     -webkit-animation-duration: 0.6s;
     animation-name: zoom;
     animation-duration: 0.6s;
 }

 @-webkit-keyframes zoom {
     from {
         transform: scale(0)
     }

     to {
         transform: scale(1)
     }
 }

 @keyframes zoom {
     from {
         transform: scale(0.1)
     }

     to {
         transform: scale(1)
     }
 }

  .close {
     position: absolute;
     top: 15px;
     left: 30px;
     color: var(--pastel2rosado);
     font-size: 80px;
     font-weight: bold;
     transition: 0.3s;
 }

 .close:hover,
 .close:focus {
     color: #bbb;
     text-decoration: none;
     cursor: pointer;
 }
 .hover-img {
     background-color: #000;
     color: #fff;
     display: inline-block;
     margin: 0 8em 0 8em;
     max-width: 12vw;
     /*320px;*/
     min-width: 12em;
     /*240px;*/
     overflow: hidden;
     position: relative;
     text-align: center;
     width: 100%;
 }

 .hover-img * {
     box-sizing: border-box;
     transition: all 0.45s ease;
 }

 .hover-img:before,
 .hover-img:after {
     background-color: rgba(0, 0, 0, 0.5);
     border-top: 32px solid rgba(0, 0, 0, 0.5);
     border-bottom: 32px solid rgba(0, 0, 0, 0.5);
     position: absolute;
     top: 0;
     bottom: 0;
     left: 0;
     right: 0;
     content: '';
     transition: all 0.3s ease;
     z-index: 1;
     opacity: 0;
     transform: scaleY(2);
 }

 .hover-img img {
     vertical-align: top;
     max-width: 100%;
     backface-visibility: hidden;
 }

 .hover-img figcaption {
     position: absolute;
     top: 0;
     bottom: 0;
     left: 0;
     right: 0;
     align-items: center;
     z-index: 1;
     display: flex;
     flex-direction: column;
     justify-content: center;
     line-height: 1.1em;
     opacity: 0;
     z-index: 2;
     transition-delay: 0.1s;
     font-size: 1em;
     font-family: sans-serif;
     font-weight: 400;
     letter-spacing: 1px;
     text-transform: uppercase;
 }

 .hover-img:hover:before,
 .hover-img:hover:after {
     transform: scale(1);
     opacity: 1;
 }

 .hover-img:hover>img {
     opacity: 0.7;
 }

 .hover-img:hover figcaption {
     opacity: 1;
 }

 /* Responsive Columns */
 @media only screen and (max-width: 700px) {
     .responsive {
         width: 49.99999%;
         margin: 6px 0;
     }

     .modal-content {
         width: 100%;
     }
 }

 @media only screen and (max-width: 500px) {
     .responsive {
         width: 100%;
     }
 }

 /* Clear Floats */
 .clearfix:after {
     content: "";
     display: table;
     clear: both;
 }
 section h2{
     font-size: 5vw;
     text-align: center;
      }
  
#rama{
      text-align: center;
      font-size: 4vw;
      padding-bottom: 3vw;
      font-style: italic;
}
.reference {
     padding: 2em 2em;
     background-color: var(--color-primary-2);
    
}
.reference h2{
    color: whitesmoke;
    text-align: center;
    width: 100%;
    font-size: large;
   }
.reference h3{
    text-align: center;
    font-size: larger;
    color: var(--color-claro-texto);
    margin-bottom: 2em;
}
#reference{
    width: 100%;
    padding-top: 1.5vw;
    display: flex;
    flex-direction: column;
    color: whitesmoke;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}
#reference-img {
    margin: auto;
}
#reference p{
    padding-top: 2vw;
    font-size: 1em;
    width: 100%;
    letter-spacing: .1em;
    line-height: 1.9em;
    text-align: center;
    align-items: center;
}
 @media only screen and (min-width: 701px) {
     #rama{
         font-size: 1.6em;
         padding: 1em;
     }
    
    .reference{
         padding: 0;
     }
     .reference h2{
         font-size: 5em;
         padding: .5em;
     }
    #reference {
         width: 100vw;
         display: flex;
         flex-direction: row;
         align-items: center;
         justify-content: center;
                                 }
        #reference-p1{
            width: 80vw;
            padding: 3em;
            margin: 2em ; 
            border: 5px solid whitesmoke;
            background-color: var(--color-primary-2);
                                   }
        #reference-img{
            background-color: whitesmoke;
            width:15%;
            position: absolute;
            margin: auto 20vw;
            align-items: center;
            
                 }
            #reference-img img{
                margin-left: auto;
                margin-right: auto;
                display: block;
                width: 100%;
            }
            #reference h3{
                color: var(--color-primary-3);
            }
        
        #reference-p2{
            width: 80vw;
                padding: 3em;
                margin: 2em;
                border: 5px solid whitesmoke;
                background-color: whitesmoke;
                color: var(--color-primary-0);
                font-style: italic;
             }
            }


footer {
    background-color: var(--color-primary-0);
    color: black;
    text-align: center;
    font-family: Geneva;
}

#footer {
    margin-bottom: 0;
    height: 4em;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

/*------------------atencion.html-------------------------*/
.body-atencion {
    background-color: gray;
    width: 100%;
    height: auto;

}
.atencion{
    display: flex;
    flex-direction: column;
    align-content: center;        
}
#atencion{
    display: flex;
    flex-direction: column;
    width: 100%;
    color: black;
    margin: 0 auto;
    justify-content: center;
    background-color: var(--color-primary-1);
    border-color: var(--color-claro-texto);
    border-style: solid;
    border-width: 1em;
}
#atencion-dias{
    display: flex;
    flex-direction: column;
    font-size: 2em;
    justify-content:space-around;
    text-align: center;
    margin: 0;
   
}
#atencion-horario{
    font-size: 2em;
    text-align: center;
    margin: auto;
    padding: 1em;
    background-color: whitesmoke;
}
#atencion h2{
    color: black;
    padding: 1em;
}
#atencion-aclaracion{
    width: 80%;
    background-color: whitesmoke;
    text-align: center;
    font-size: 2em;
    align-self: center;
    margin: 0.5em;
    
}
#atencion-aclaracion p{
    padding: 1em;
}
@media only screen and (min-width: 701px) {
    #atencion{
        display: flex;
        flex-direction: row;
        align-content: center;
        align-items: center;

    }
    #atencion-h2{
        width: 100%;
            }
        #atencion-h2 h2{    
           color: whitesmoke;
        }
    #atencion-dias{
        position: relative;
        width: 40%;
        margin-left: 0;
        margin-bottom: 2em;
        color: whitesmoke;
        margin: 1.5em;
    }
    #atencion-horario{
        position: relative;
        width: 80%;
        margin: .5em;
        margin-right: 0;
        color: whitesmoke;
        background-color: var(--color-primary-1);
        
    }
}
    
/*-------------------------fin atencion.html-------------------------*/
/*---------------------------ubicacion.html------------------------------*/
#ubicacion{
    padding: 1em;
}
    #ubicacion-direccion{
        margin-top: 1em;
    }
.map-responsive {

    overflow: hidden;

    padding-bottom: 56.25%;

    position: relative;

    height: 0;

}

.map-responsive iframe {

    left: 0;

    top: 0;

    height: 100%;

    width: 100%;

    position: absolute;

}
/*-------------------------fin ubicacion.html--------------------------*/
